

.hh{
    background-color: aquamarine;
    color: brown;
    font-size: 24px;
}

#box{
   
    position: absolute;
    width: 20%;
    height: 30vh;
    left:0;
    top: 0;
    border: solid black;
    background-color: brown;
}